#bestiary {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}

/* #bestiary::-webkit-scrollbar {
    display: none;
} */

#bestiary_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 275px;
}