#encounter_creatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  overflow: auto;
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}

#encounter_creatures_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}

/* #encounter_creatures::-webkit-scrollbar,
#encounter_creatures_wrapper::-webkit-scrollbar {
  display: none;
} */